<app-titlebar class="titleBarTop" id="titleBarTop"></app-titlebar>
<div class="desktop" [ngStyle]="{height: desktopHeight + 'px'}">
  <pre style="width:300px;height:300px;overflow:auto;float:right;">
{{ windowList | json }}
  </pre>
  <div *ngFor="let windowItem of objectKeys(windowList)">
    <app-window [windowItem]="windowList[windowItem]"
                [titleBarTopHeight]="titleBarTopHeight"
                [toolbarHeight]="toolbarHeight"
                (closing)="onClose(windowList[windowItem])"
                (closed)="onClosed(windowList[windowItem])"
                (click)="makeWindowActive(windowList[windowItem])">
    </app-window>
  </div>
</div>
<app-toolbar class="toolbar" id="toolbar"></app-toolbar>
