.desktop {
  width:100%;
  overflow:auto;
  position:fixed;
  top:36px;
}

.toolbar {
  display:block;
  position:fixed;
  bottom:0;
  width:100%;
  background-color:#379;
  left:0;
  border-top:1px solid #2d688a;
  height:36px;
  overflow:hidden;
}

.titlebar {
  display:block;
  position:fixed;
  top:0;
  width:100%;
  background-color:#379;
  left:0;
  border-top:1px solid #2d688a;
  height:36px;
  overflow:hidden;
}

.active {
  color:red;
}
