.desktop {
  width:100%;
  overflow:auto;
  background-color:var(--background-color);
  position:relative;
}

.toolbar {
  display:block;
  bottom:0;
  width:100%;
  background-color:var(--primary);
  left:0;
  height:42px;
  overflow:hidden;
  padding:2px 4px 0 4px;
}

.titleBarTop {
  display:block;
  top:0;
  width:100%;
}

.active {
  color:red;
}
