<div [ngClass]="['windowItem',  windowItem.class]"
     (transitionend)="closedWindow(windowItem)"
     (mousemove)="resizeCursorSet($event)"
     (mouseout)="resizeCursorRestore()"
     (mousedown)="resizeDragStart($event, windowItem)"
     [ngStyle]="{
                  top: windowItem.top + 'px',
                  left: windowItem.left + 'px',
                  width: windowItem.width + 'px',
                  height: windowItem.height + 'px',
                  zIndex: windowItem.zIndex
                 }"
>
  <div>{{ windowItem.titleBar }}
  <button (click)="closeWindow($event, windowItem)">X</button>
  </div>
  <div>{{ windowItem.body }}</div>
</div>

