<div [ngClass]="['windowItem',  windowItem.class]"
     (transitionend)="closedWindow(windowItem)"
     (mousemove)="resizeCursorSet($event, windowItem)"
     (mouseout)="resizeCursorRestore()"
     (mousedown)="resizeStart($event, windowItem)"
     (touchstart)="resizeTouchStart($event, windowItem)"
     [ngStyle]="{
                  top: windowItem.top + 'px',
                  left: windowItem.left + 'px',
                  width: windowItem.width + 'px',
                  height: windowItem.height + 'px',
                  zIndex: windowItem.zIndex
                 }"
>
  <div *ngIf="windowItem.hasTitleBar === true" class="titleBar"
       (mousedown)="moveStart($event, windowItem)"
       (touchstart)="moveStart($event, windowItem)"
       (dblclick)="maximiseWindow($event, windowItem)"
  >
    <span class="titleBarIcon ow-{{ windowItem.icon }}"></span>
    <div class="titleBarText">{{ windowItem.title }}</div>
    <button class="windowButton ow-close" (click)="closeWindow($event, windowItem)"></button>
    <button class="windowButton" *ngIf="windowItem.resizable" (click)="maximiseWindow($event, windowItem)">
      <span *ngIf="windowItem.state.isMaximised" class="ow-restore"></span>
      <span *ngIf="!windowItem.state.isMaximised" class="ow-maximise"></span>
    </button>
    <button class="windowButton ow-minimise" *ngIf="windowItem.resizable && windowItem.hasTab" (click)="minimiseWindow($event, windowItem)">
    </button>
  </div>
  <div class="clientArea" [ngClass]="{'fullHeight': windowItem.hasTitleBar !== true}">{{ windowItem.body }}</div>
</div>

