.closed, .new {
  opacity:0;
  transition: opacity 200ms, width 200ms, height, 200ms;
  padding:0;
  height:0;
}

.open {
  opacity:1;
  transition: opacity 200ms, width 200ms, height, 200ms;
}

.windowItem {
  border:1px solid #e0dfe1;
  background-color: #f0f0f0;
  height:100%;
  width:100%;
  padding:4px;
  border-radius:4px;
  border-top-right-radius:13px;
  position:absolute;
  -webkit-transform: translatez(0);
  -moz-transform: translatez(0);
  -ms-transform: translatez(0);
  -o-transform: translatez(0);
  transform: translatez(0);
}
.windowItem div {
  opacity:1;
}
.titlebar {
  background-color:#dedede;
  height:24px;
  padding: 4px;
  border-radius:3px;
  border-top-right-radius:11px;
  transition: all 0.3s;
  line-height:23px;
  cursor: move;
}
.active .titlebar {
  background-color:#379;
  color:white;
  transition: opacity 200ms, width 200ms, height, 200ms;
}
.active {
  background-color: white;
  box-shadow: 0px 0px 52px 12px rgba(0,0,0,0.10);
}
button {
  border: none;
  background-color: #438eb5;
  border-radius: 50%;
  min-width: 20px;
  min-height: 20px;
  color: #fff;
  padding: 0;
  float: right;
  cursor:pointer;
  position:relative;
  transition: opacity 200ms, width 200ms, height, 200ms;

}

.active button {
  /*color: #379;*/
  /*background-color:white;*/
  transition: opacity 200ms, width 200ms, height, 200ms;

}

button span:first-child {
  position:absolute;
  top:2px;
  left:3px;
}
button span:last-child {
  position:absolute;
  top:5px;
  left:6px;
}
.noTransition {
  transition: all 0s;
  box-shadow: none;
}

.clientArea {
  height:calc(100% - 36px);
  width:100%;
  background-color:white;
  border-radius:3px;
  margin-top:4px;
  overflow:auto;
}

.maximised {
  border-radius:0;
  padding:0;
  width:100% !important;
  height:100% !important;
  top:0 !important;
  left:0 !important;
  border:none;
}

.maximised .titlebar {
  border-radius:0;
  border:0;
}

.minimised {
  top:100% !important;
  width:100px !important;
  opacity:0;
}




/*.windowItem {*/
/*  border: none;*/
/*  background-color: rgba(0,0,0,0);*/
/*  padding:10px;*/
/*}*/

/*.windowItem.active {*/
/*  border: none;*/
/*  background-color: rgba(0,0,0,0);*/
/*  padding:10px;*/
/*}*/

/*.maximised {*/
/*  padding:0;*/
/*}*/

/*.active {*/
/*  background-color: transparent;*/
/*  box-shadow: none;*/
/*}*/
/*.titlebar{*/
/*  border:1px solid #e0dfe1;*/
/*  border-bottom:none;*/
/*  margin:0;*/
/*  width: 100%;*/
/*  border-radius:0;*/
/*}*/
/*.clientArea{*/
/*  border:1px solid #e0dfe1;*/
/*  border-top:none;*/
/*  margin:0;*/
/*  padding:6px;*/
/*  border-radius:0;*/
/*  width:calc(100% - 5px);*/
/*}*/
/*button {*/
/*  border-radius:0;*/
/*}*/
