.closed, .new {
  opacity:0;
  transition: all 200ms;
  padding:0;
  font-size:0;
  height:0;
}

.open {
  opacity:1;
  transition: all 200ms;
  font-size:14px;
}

.windowItem {
  border:1px solid #e0dfe1;
  background-color: #f0f0f0;
  height:100%;
  width:100%;
  padding:4px;
  border-radius:4px;
  border-top-right-radius:13px;
  position:absolute;
}
.titlebar {
  background-color:#dedede;
  height:24px;
  padding: 4px;
  border-radius:3px;
  border-top-right-radius:11px;
  transition: all 0.3s;
  line-height:23px;
}
.active .titlebar {
  background-color:#379;
  color:white;
  transition: all 0.3s;
}
.active {
  background-color: white;
  box-shadow: 0px 0px 52px 12px rgba(0,0,0,0.10);
}
button {
  border: none;
  background-color: #379;
  border-radius: 50%;
  min-width: 20px;
  min-height: 20px;
  color: #fff;
  padding: 0;
  float: right;
  cursor:pointer;
  position:relative;
  transition: all 0.3s;

}

.active button {
  color: #379;
  background-color:white;
  transition: all 0.3s;

}

button span:first-child {
  position:absolute;
  top:2px;
  left:3px;
}
button span:last-child {
  position:absolute;
  top:5px;
  left:6px;
}
.noTransition {
  transition: all 0s;
}
