.closed, .new {
  opacity:0;
  transition: opacity 200ms, width 200ms, height, 200ms;
  padding:0;
  height:0;
}

.open {
  opacity:1;
  transition: opacity 200ms, width 200ms, height, 200ms;
}

.windowItem {
  border:1px solid var(--background-darker-grey);
  background-color: var(--background-grey);
  height:100%;
  width:100%;
  padding:4px;
  border-radius:4px;
  position:absolute;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}

.windowItem div {
  opacity:1;
}

.titlebar {
  background-color:var(--background-min-grey);
  height:24px;
  padding: 4px;
  border-radius:3px;
  transition: all 0.3s;
  line-height:23px;
  cursor: move;
}

.active .titlebar {
  background-color: var(--primary);
  color:var(--background-color);
  transition: opacity 200ms, width 200ms, height, 200ms;
}

.active {
  background-color: var(--background-color);
  box-shadow: 0px 0px 52px 12px rgba(0,0,0,0.10);
}

.windowButton {
  border: none;
  background-color: var(--primary-light);
  border-radius: 50%;
  min-width: 20px;
  min-height: 20px;
  color: var(--background-color);
  padding: 0;
  float: right;
  cursor:pointer;
  position:relative;
  transition: opacity 200ms, width 200ms, height, 200ms;
  margin:2px;
}

.active button {
  /*color: #379;*/
  /*background-color:white;*/
  transition: opacity 200ms, width 200ms, height, 200ms;

}

.noTransition {
  transition: all 0s;
  box-shadow: none;
}

.clientArea {
  height:calc(100% - 36px);
  width:100%;
  background-color:var(--background-color);
  border-radius:3px;
  margin-top:4px;
  overflow:auto;
}

.maximised {
  border-radius:0;
  padding:0 !important;
  width:100% !important;
  height:100% !important;
  top:0 !important;
  left:0 !important;
  border:none;
}

.maximised .titlebar {
  border-radius:0;
  border:0;
}

.minimised {
  top:100% !important;
  width:100px !important;
  opacity:0;
}
