.closed, .new {
  opacity: 0;
  transition: opacity 200ms, width 200ms, height, 200ms;
}

.open {
  opacity: 1;
  transition: opacity 200ms, width 200ms, height, 200ms;
}

.tabItem {
  display: inline-block;
  padding: 4px;
  margin: 4px;
  border-radius: 4px;
  background-color: var(--background-grey);
  cursor: pointer;
  max-width: 180px;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  color: var(--text);
  position: relative;
}

.tabItem .text {
  width: calc(100% - 64px);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: inline-block;
  position: absolute;
  top: 7px;
  left: 28px;
  font-size: 14px;
}

.tabItemIcon {
  font-size: 21px;
  position: relative;
  top: 1px;
}

.active {
  color: var(--background-color);
  background-color: var(--primary-light);
  font-weight:600;
}

.tabButton {
  border: none;
  background-color: var(--primary-light);
  border-radius: 4px;
  min-width: 20px;
  min-height: 20px;
  color: var(--background-color);
  padding: 0;
  float: right;
  cursor: pointer;
  position: relative;
  transition: opacity 200ms, width 200ms, height, 200ms;
  margin: 2px;
}

.active button {
  color: var(--primary);
  background-color: var(--background-color);
  transition: opacity 200ms, width 200ms, height, 200ms;

}

.minimised {
  border-bottom: 4px solid orange;
  border-bottom-style: inset;
  padding-bottom: 0;
}

.minimised * {
  border: none;
}
