.closed, .new {
  opacity:0;
  transition: all 200ms;
}

.open {
  opacity:1;
  transition: all 200ms;
}

.tabItem {
  display:inline-block;
  padding:4px;
  margin:4px;
  border-radius:4px;
  background-color: #f0f2f6;
  cursor: pointer;
  overflow:hidden;
  text-overflow: ellipsis;
  max-width:130px;
  white-space: nowrap;
  line-height: 20px;
  font-size: 14px;
}

.active {
  color:white;
  background-color: #438eb5;
}
