.closed, .new {
  opacity:0;
  transition: opacity 200ms, width 200ms, height, 200ms;
}

.open {
  opacity:1;
  transition: opacity 200ms, width 200ms, height, 200ms;
}

.tabItem {
  display:inline-block;
  padding:4px;
  margin:4px;
  border-radius:4px;
  background-color: #f0f2f6;
  cursor: pointer;
  max-width:180px;
  line-height: 24px;
}
.tabItem .text {
  width:calc(100% - 30px);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow:hidden;
  display:inline-block;
}
.active {
  color:white;
  background-color: #438eb5;
}

button {
  border: none;
  background-color: #438eb5;
  border-radius: 50%;
  min-width: 20px;
  min-height: 20px;
  color: #fff;
  padding: 0;
  float: right;
  cursor:pointer;
  position:relative;
  transition: opacity 200ms, width 200ms, height, 200ms;

}

.active button {
  color: #379;
  background-color:white;
  transition: opacity 200ms, width 200ms, height, 200ms;

}
button span:first-child {
  position:absolute;
  top:2px;
  left:3px;
}
button span:last-child {
  position:absolute;
  top:5px;
  left:6px;
}

.minimised {
  border-bottom:4px solid orange;
  border-bottom-style: inset;
  padding-bottom:0px;
}

.minimised * {
  border:none;
}
