<span *ngFor="let windowItem of objectKeys(windowList)">
  <span
    *ngIf="windowList[windowItem].hasTab"
    [ngClass]="['tabItem',  windowList[windowItem].class]"
    [ngStyle]="{width: 'calc(' + (100 / tabCount()) + '% - 17px)'}"
    (click)="makeWindowActive(windowList[windowItem])"
    (dblclick)="maximiseWindow($event, windowList[windowItem])">
  <span [ngClass]="{'minimised': windowList[windowItem].state.isMinimised}">
    <span class="tabItemIcon ow-{{ windowList[windowItem].icon }}"></span>
  <div class="text">{{ windowList[windowItem].title}}</div>
    <button class="tabButton" *ngIf="windowList[windowItem].resizable" (click)="maximiseWindow($event, windowList[windowItem])">
      <span *ngIf="windowList[windowItem].state.isMaximised" class="ow-restore"></span>
      <span *ngIf="!windowList[windowItem].state.isMaximised" class="ow-maximise"></span>
    </button>
  </span>
  </span>
</span>
