.titleBarTop {
  background-color:var(--primary);
  left:0;
  height:28px;
  line-height:28px;
  padding:0 0 0 8px;
  color:white;
}

.toolbar {
  background-color:var(--background-grey);
  height:74px;
}
