@font-face {
  font-family: 'Window';
  src:  url('./fonts/Window.eot?qrzlym');
  src:  url('./fonts/Window.eot?qrzlym#iefix') format('embedded-opentype'),
    url('./fonts/Window.ttf?qrzlym') format('truetype'),
    url('./fonts/Window.woff?qrzlym') format('woff'),
    url('./fonts/Window.svg?qrzlym#Window') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="ow-"], [class*=" ow-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Window' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ow-alarm:before {
  content: "\e905";
}
.ow-bin:before {
  content: "\e906";
}
.ow-catalogue_over:before {
  content: "\e907";
}
.ow-catalogue:before {
  content: "\e908";
}
.ow-catalogues_over:before {
  content: "\e909";
}
.ow-catalogues:before {
  content: "\e90a";
}
.ow-clipboard:before {
  content: "\e90b";
}
.ow-clock:before {
  content: "\e90c";
}
.ow-cloud:before {
  content: "\e90d";
}
.ow-cog_over:before {
  content: "\e90e";
}
.ow-cog:before {
  content: "\e90f";
}
.ow-company_over:before {
  content: "\e910";
}
.ow-company:before {
  content: "\e911";
}
.ow-computer:before {
  content: "\e912";
}
.ow-contacts_over:before {
  content: "\e913";
}
.ow-contacts:before {
  content: "\e914";
}
.ow-content_area:before {
  content: "\e915";
}
.ow-creditcard:before {
  content: "\e916";
}
.ow-dashboard_over:before {
  content: "\e917";
}
.ow-dashboard:before {
  content: "\e918";
}
.ow-diary_over:before {
  content: "\e919";
}
.ow-diary:before {
  content: "\e91a";
}
.ow-downArrow:before {
  content: "\e91b";
}
.ow-download:before {
  content: "\e91c";
}
.ow-duplicate_page:before {
  content: "\e91d";
}
.ow-email:before {
  content: "\e91e";
}
.ow-exclamation_mark_circle:before {
  content: "\e91f";
}
.ow-external_link:before {
  content: "\e920";
}
.ow-eye:before {
  content: "\e921";
}
.ow-fat_close:before {
  content: "\e922";
}
.ow-fat_tick:before {
  content: "\e923";
}
.ow-folder:before {
  content: "\e924";
}
.ow-forms:before {
  content: "\e925";
}
.ow-formsResponses:before {
  content: "\e926";
}
.ow-framework:before {
  content: "\e927";
}
.ow-funnel_over:before {
  content: "\e928";
}
.ow-funnel:before {
  content: "\e929";
}
.ow-ghost_over:before {
  content: "\e92a";
}
.ow-ghost:before {
  content: "\e92b";
}
.ow-globe:before {
  content: "\e92c";
}
.ow-home_over:before {
  content: "\e92d";
}
.ow-home:before {
  content: "\e92e";
}
.ow-leftArrow:before {
  content: "\e92f";
}
.ow-leftArrowStart:before {
  content: "\e930";
}
.ow-link:before {
  content: "\e931";
}
.ow-locationPin:before {
  content: "\e932";
}
.ow-lock_closed:before {
  content: "\e933";
}
.ow-lock_open:before {
  content: "\e934";
}
.ow-media:before {
  content: "\e935";
}
.ow-menu_over:before {
  content: "\e936";
}
.ow-menu:before {
  content: "\e937";
}
.ow-messages_over:before {
  content: "\e938";
}
.ow-messages:before {
  content: "\e939";
}
.ow-minus:before {
  content: "\e93a";
}
.ow-move:before {
  content: "\e93b";
}
.ow-orders_over:before {
  content: "\e93c";
}
.ow-orders:before {
  content: "\e93d";
}
.ow-page_add:before {
  content: "\e93e";
}
.ow-page_settings:before {
  content: "\e93f";
}
.ow-page_tags:before {
  content: "\e940";
}
.ow-pages:before {
  content: "\e941";
}
.ow-pencil:before {
  content: "\e942";
}
.ow-phone_over:before {
  content: "\e943";
}
.ow-phone:before {
  content: "\e944";
}
.ow-piechart_over:before {
  content: "\e945";
}
.ow-piechart:before {
  content: "\e946";
}
.ow-playbutton:before {
  content: "\e947";
}
.ow-plus:before {
  content: "\e948";
}
.ow-print_over:before {
  content: "\e949";
}
.ow-print:before {
  content: "\e94a";
}
.ow-question_mark_circle:before {
  content: "\e94b";
}
.ow-question_mark:before {
  content: "\e94c";
}
.ow-quotations_over:before {
  content: "\e94d";
}
.ow-quotations:before {
  content: "\e94e";
}
.ow-reminder_over:before {
  content: "\e94f";
}
.ow-reminder:before {
  content: "\e950";
}
.ow-reorder:before {
  content: "\e951";
}
.ow-rightArrow:before {
  content: "\e952";
}
.ow-rightArrowEnd:before {
  content: "\e953";
}
.ow-save:before {
  content: "\e954";
}
.ow-search_over:before {
  content: "\e955";
}
.ow-search:before {
  content: "\e956";
}
.ow-styles:before {
  content: "\e957";
}
.ow-tasks_over:before {
  content: "\e958";
}
.ow-tasks:before {
  content: "\e959";
}
.ow-templates:before {
  content: "\e95a";
}
.ow-tree_corner:before {
  content: "\e95b";
}
.ow-tree_line_horizontal:before {
  content: "\e95c";
}
.ow-tree_line:before {
  content: "\e95d";
}
.ow-tree_t:before {
  content: "\e95e";
}
.ow-upArrow:before {
  content: "\e95f";
}
.ow-users_over:before {
  content: "\e960";
}
.ow-users:before {
  content: "\e961";
}
.ow-world:before {
  content: "\e962";
}
.ow-oceanworks:before {
  content: "\e900";
}
.ow-minimise:before {
  content: "\e901";
}
.ow-restore:before {
  content: "\e902";
}
.ow-maximise:before {
  content: "\e903";
}
.ow-close:before {
  content: "\e904";
}
