body{
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin:0;
  padding:0;
  font-size:13px;
}

.blocky .windowItem {
  border: none !important;
  background-color: rgba(0,0,0,0) !important;
  padding:7px !important;
}

.blocky .windowItem.active {
  border: none !important;
  background-color: rgba(0,0,0,0) !important;
  padding:7px !important;
}

.blocky .windowItem.maximised {
  padding:0 !important;
}

.blocky .windowItem.active {
  background-color: transparent !important;
  box-shadow: none !important;
  padding:0 !important;
}
.blocky .titleBar{
  border:1px solid #c8c7c9 !important;
  /*border-bottom:none !important;*/
  margin:0 !important;
  width: calc(100% - 10px) !important;
  border-radius:0 !important;
}
.blocky .clientArea{
  border:1px solid #e0dfe1 !important;
  border-top:none !important;
  margin:0 !important;
  padding:6px !important;
  border-radius:0 !important;
  width:calc(100% - 14px) !important;
  height:calc(100% - 46px) !important;
}
.blocky .windowButton {
  border-radius:0 !important;
  background-color:transparent !important;
  color:#444444 !important;
}

.blocky .active .windowButton {
  color:white !important;
}

.blocky .tabButton {
  border-radius:0 !important;
  background-color:transparent !important;
  color:#444444 !important;
}

.blocky .active .tabButton {
  color:white !important;
}

.blocky .tabItem {
  border-radius: 0 !important;
}

.blocky .fullHeight {
  height:100% !important;
  margin-top:1px !important;
  border-top:1px solid var(--background-darker-grey) !important;
}

.noTransition * {
  transition: all 0s !important;
}
button {
  border: none;
  background-color: var(--primary-light);
  border-radius: 2px;
  padding:6px;
  color: var(--background-color);
  float: right;
  cursor:pointer;
  position:relative;
  transition: opacity 200ms, width 200ms, height, 200ms;
  margin:2px;
}
:root {
  --primary: #337799;
  --primary-light: #438eb5;
  --text: #444444;
  --background-color: #ffffff;
  --background-grey: #f0f0f0;
  --background-min-grey: #dedede;
  --background-darker-grey: #e0dfe1;

  /*--primary: #337799;*/
  /*--primary-light: #438eb5;*/
  /*--text: #c1c1c1;*/
  /*--background-color: #222222;*/
  /*--background-grey: #4a4a4a;*/
  /*--background-min-grey: #6c6c6c;*/
  /*--background-darker-grey: #454545;*/
}
